<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePaths</key>
	<dict>
		<key>submitOrder</key>
		<string>/spot/submitOrder</string>
		<key>cancelOrder</key>
		<string>/spot/cancelOrder</string>
		<key>userOrders</key>
		<string>/spot/userOrders</string>
		<key>queryOrder</key>
		<string>/spot/queryOrder</string>
		<key>getStockTrades</key>
		<string>/spot/trades</string>
		<key>getUserTrades</key>
		<string>/spot/userTrades</string>
		<key>address</key>
		<string>/v1/ifaccount/address</string>
		<key>rechargeAmount</key>
		<string>/v1/ifaccount/rechargeAmount</string>
		<key>withdraw</key>
		<string>/v1/ifaccount/withdraw</string>
		<key>usersMe</key>
		<string>/v1/ifaccount/users/me</string>
		<key>settlesWithdraw</key>
		<string>/v1/ifaccount/settles?type=withdraw</string>
		<key>settlesDeposit</key>
		<string>/v1/ifaccount/settles?type=deposit</string>
		<key>rewards</key>
		<string>/v1/ifaccount/rewards?</string>
		<key>settles</key>
		<string>/v1/ifaccount/settles?</string>
		<key>userConfigs</key>
		<string>/v1/ifglobal/userConfigs</string>
		<key>spotGlobal</key>
		<string>/spot/spotGlobal</string>
		<key>queryDepth</key>
		<string>/spot/depth</string>
		<key>spotTickers</key>
		<string>/spot/tickers</string>
		<key>spotTickerOne</key>
		<string>/spot/spotTickerOne</string>
		<key>spot</key>
		<string>/spot/spot</string>
		<key>spot2</key>
		<string>/spot/kline</string>
		<key>cancelOrders</key>
		<string>/spot/cancelOrders</string>
		<key>spotDetail</key>
		<string>/spot/spotDetail</string>
		<key>stocks</key>
		<string>/spot/instruments</string>
		<key>registers</key>
		<string>/v1/ifaccount/users/register</string>
		<key>active</key>
		<string>/v1/ifaccount/users/active</string>
		<key>bindEmail</key>
		<string>/v1/ifaccount/bindEmail</string>
		<key>bindPhone</key>
		<string>/v1/ifaccount/bindPhone</string>
		<key>verifyCode</key>
		<string>/v1/ifaccount/verifyCode</string>
		<key>resetPassword</key>
		<string>/v1/ifaccount/users/resetPassword</string>
		<key>users</key>
		<string>/v1/ifaccount/users</string>
		<key>login</key>
		<string>/v1/ifaccount/login</string>
		<key>actionVerify</key>
		<string>/v1/ifaccount/email?action=verify</string>
		<key>actionBind</key>
		<string>/v1/ifaccount/email?action=bind</string>
		<key>checkUpdate</key>
		<string>/v1/ifglobal/checkUpdate?platform=2&amp;version=</string>
		<key>withdrawAddresses</key>
		<string>/v1/ifaccount/withdrawAddress?action=</string>
		<key>coinBrief</key>
		<string>/v1/ifglobal/coinBrief</string>
		<key>assetPasswordEffectiveTime</key>
		<string>/v1/ifaccount/assetPasswordEffectiveTime?action=reset</string>
		<key>resetAssetPassword</key>
		<string>/v1/ifaccount/assetPassword?action=reset</string>
		<key>assetPassword</key>
		<string>/v1/ifaccount/assetPassword?action=add</string>
		<key>coinPrice</key>
		<string>/v1/ifglobal/coinPrice</string>
		<key>GAKey</key>
		<string>/v1/ifaccount/GAKey?action=</string>
		<key>userPositions</key>
		<string>/swap/userPositions?</string>
		<key>userContractOrders</key>
		<string>/swap/userOrders?</string>
		<key>contracts</key>
		<string>/swap/instruments</string>
		<key>submitContractOrder</key>
		<string>/swap/submitOrder</string>
		<key>contractAccounts</key>
		<string>/swap/accounts?</string>
		<key>contractDepth</key>
		<string>/swap/depth?instrumentID=</string>
		<key>cancelContractOrders</key>
		<string>/swap/cancelOrders</string>
		<key>contractTrades</key>
		<string>/swap/trades?instrumentID=</string>
		<key>futures</key>
		<string>/swap/tickers</string>
		<key>contractUserTrades</key>
		<string>/swap/userTrades</string>
		<key>contractQuote</key>
		<string>/swap/kline</string>
		<key>transferFunds</key>
		<string>/swap/transferFunds</string>
		<key>cashBooks</key>
		<string>/swap/cashBooks</string>
		<key>fundingrate</key>
		<string>/swap/fundingrate</string>
		<key>marginOper</key>
		<string>/swap/changeMargin</string>
		<key>liqRecords</key>
		<string>/swap/userLiqRecords</string>
		<key>createContractAccount</key>
		<string>/swap/createAccount</string>
		<key>openAccountRewardCheck</key>
		<string>/swap/activity/openAccountReward?action=check</string>
		<key>openAccountRewardReceive</key>
		<string>/swap/activity/openAccountReward?action=receive</string>
		<key>depositRewardCheck</key>
		<string>/swap/activity/depositReward?action=check</string>
		<key>depositRewardReceive</key>
		<string>/swap/activity/depositReward?action=receive</string>
		<key>rebates</key>
		<string>/v1/ifaccount/rebates</string>
		<key>referPrice</key>
		<string>/v1/ifaccount/otc/referPrice</string>
		<key>KYCAuth</key>
		<string>/v1/ifaccount/KYCAuth?action=update</string>
		<key>otcAccount</key>
		<string>/v1/ifaccount/otc/account</string>
		<key>otcSubmit</key>
		<string>/v1/ifaccount/otc/order?action=submit</string>
		<key>otcOrders</key>
		<string>/v1/ifaccount/otc/orders?action=query</string>
		<key>otcOrderDetail</key>
		<string>/v1/ifaccount/otc/order?order_id=</string>
		<key>otcOrderCancel</key>
		<string>/v1/ifaccount/otc/order?action=cancel</string>
		<key>getKYCInfo</key>
		<string>/v1/ifaccount/KYCAuth?action=query</string>
		<key>uploadImage</key>
		<string>/v1/ifaccount/upload?type=image</string>
		<key>areas</key>
		<string>/v1/ifglobal/areas</string>
		<key>otcOrderPayment</key>
		<string>/v1/ifaccount/otc/order?action=payment</string>
		<key>otcOrderReceipt</key>
		<string>/v1/ifaccount/otc/order?action=receipt</string>
		<key>riskReserves</key>
		<string>/swap/riskReserves</string>
		<key>contractIndexes</key>
		<string>/swap/indexes</string>
		<key>captchCheck</key>
		<string>/v1/ifaccount/captchCheck?action=</string>
		<key>submitPlanOrder</key>
		<string>/swap/submitPlanOrder</string>
		<key>cancelPlanOrders</key>
		<string>/swap/cancelPlanOrders</string>
		<key>userPlanOrders</key>
		<string>/swap/userPlanOrders?</string>
		<key>accountName</key>
		<string>/v1/ifaccount/user/accountName?</string>
		<key>banners</key>
		<string>/v1/ifglobal/banners?</string>
		<key>positionTax</key>
		<string>/swap/positionTax?</string>
		<key>usdtPrice</key>
		<string>/v1/ifaccount/otc/usdtPrice?coin_code=</string>
	</dict>
</dict>
</plist>
