<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePaths</key>
	<dict>
		<key>userPositions</key>
		<string>fe-cov2-api/swap/userPositions?</string>
		<key>userContractOrders</key>
		<string>fe-cov2-api/swap/userOrders?</string>
		<key>contracts</key>
		<string>fe-cov2-api/swap/instruments</string>
		<key>submitContractOrder</key>
		<string>fe-cov2-api/swap/submitOrder</string>
		<key>contractAccounts</key>
		<string>fe-cov2-api/swap/accounts</string>
		<key>contractDepth</key>
		<string>fe-cov2-api/swap/depth?instrumentID=</string>
		<key>cancelContractOrders</key>
		<string>fe-cov2-api/swap/cancelOrders</string>
		<key>contractTrades</key>
		<string>fe-cov2-api/swap/trades?instrumentID=</string>
		<key>futures</key>
		<string>fe-cov2-api/swap/tickers</string>
		<key>contractUserTrades</key>
		<string>fe-cov2-api/swap/userTrades</string>
		<key>contractQuote</key>
		<string>fe-cov2-api/swap/kline</string>
		<key>transferFunds</key>
		<string>fe-cov2-api/swap/transferFunds</string>
		<key>cashBooks</key>
		<string>fe-cov2-api/swap/cashBooks</string>
		<key>fundingrate</key>
		<string>fe-cov2-api/swap/fundingrate</string>
		<key>marginOper</key>
		<string>fe-cov2-api/swap/changeMargin</string>
		<key>liqRecords</key>
		<string>fe-cov2-api/swap/userLiqRecords</string>
		<key>createContractAccount</key>
		<string>fe-cov2-api/swap/createAccount</string>
		<key>openAccountRewardCheck</key>
		<string>fe-cov2-api/swap/activity/openAccountReward?action=check</string>
		<key>openAccountRewardReceive</key>
		<string>fe-cov2-api/swap/activity/openAccountReward?action=receive</string>
		<key>depositRewardCheck</key>
		<string>fe-cov2-api/swap/activity/depositReward?action=check</string>
		<key>depositRewardReceive</key>
		<string>fe-cov2-api/swap/activity/depositReward?action=receive</string>
		<key>riskReserves</key>
		<string>fe-cov2-api/swap/riskReserves</string>
		<key>contractIndexes</key>
		<string>fe-cov2-api/swap/indexes</string>
		<key>submitPlanOrder</key>
		<string>fe-cov2-api/swap/submitPlanOrder</string>
		<key>cancelPlanOrders</key>
		<string>fe-cov2-api/swap/cancelPlanOrders</string>
		<key>userPlanOrders</key>
		<string>fe-cov2-api/swap/userPlanOrders?</string>
		<key>getOrderTrades</key>
		<string>fe-cov2-api/swap/orderTrades?</string>
		<key>login</key>
		<string>fe-cov2-api/swap/login</string>
	</dict>
</dict>
</plist>
