<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alert</key>
	<dict>
		<key>cancelbg</key>
		<string>#DBE1EB</string>
	</dict>
	<key>contract</key>
	<dict>
		<key>sheetSeperator</key>
		<string>#DFDFDF</string>
		<key>border</key>
		<string>#B8D6FF</string>
	</dict>
	<key>customSegment</key>
	<dict>
		<key>bgColor</key>
		<string>#1C2E5D</string>
		<key>bghColor</key>
		<string>#2885FF</string>
	</dict>
	<key>global</key>
	<dict>
		<key>gray</key>
		<string>#C9C9C9</string>
		<key>green</key>
		<string>#80C269</string>
		<key>red</key>
		<string>#EF5A61</string>
		<key>darkgray</key>
		<string>#797C81</string>
		<key>yellow</key>
		<string>#FF9E12</string>
		<key>whitebg</key>
		<string>#FBFCFF</string>
		<key>mask</key>
		<string>#000000</string>
		<key>themeBlack</key>
		<string>#333333</string>
		<key>pureWhite</key>
		<string>#FFFFFF</string>
		<key>tabNavColor</key>
		<string>#091941</string>
		<key>bgColor</key>
		<string>#081432</string>
		<key>themeWhite</key>
		<string>#CBD3E4</string>
		<key>themeBlue</key>
		<string>#2885FF</string>
		<key>themeBlueGray</key>
		<string>#A2B9CE</string>
		<key>themeBlueLite</key>
		<string>#E3ECFF</string>
		<key>themeGray</key>
		<string>#6E7B98</string>
		<key>ups</key>
		<string>#0CC2A4</string>
		<key>downs</key>
		<string>#F25858</string>
		<key>seperator</key>
		<string>#253357</string>
		<key>borderN</key>
		<string>#25334F</string>
		<key>borderBlue</key>
		<string>#314167</string>
		<key>placeholder</key>
		<string>#7080a3</string>
		<key>textfieldbg</key>
		<string>#050F29</string>
		<key>textfieldDisable</key>
		<string>#212D46</string>
	</dict>
	<key>otc</key>
	<dict>
		<key>talkbg</key>
		<string>#F3F3F3</string>
		<key>textcolor</key>
		<string>#444444</string>
		<key>btncolor</key>
		<string>#85919D</string>
		<key>bluetextcolor</key>
		<string>#5A6C98</string>
		<key>red</key>
		<string>#F56262</string>
		<key>themeLightGray</key>
		<string>#78849B</string>
		<key>themeGray</key>
		<string>#606C85</string>
		<key>seperator</key>
		<string>#ECEDEF</string>
		<key>txfplaceholder</key>
		<string>#4D5A77</string>
		<key>textfieldbg</key>
		<string>#fbfbfb</string>
		<key>txvplaceholder</key>
		<string>#B2B7C1</string>
	</dict>
	<key>label</key>
	<dict>
		<key>titlecolor</key>
		<string>#CBD3E4</string>
		<key>bodycolor</key>
		<string>#6E7B98</string>
		<key>bodydarkcolor</key>
		<string>#7080A3</string>
		<key>otcgray</key>
		<string>#606C85</string>
	</dict>
	<key>btn</key>
	<dict>
		<key>normal</key>
		<string>#606C85</string>
		<key>highlight</key>
		<string>#0082E5</string>
	</dict>
	<key>nav</key>
	<dict>
		<key>bg</key>
		<string>#091941</string>
	</dict>
	<key>tab</key>
	<dict>
		<key>bg</key>
		<string>#091941</string>
		<key>seperator</key>
		<string></string>
		<key>highlight</key>
		<string></string>
	</dict>
	<key>color</key>
	<dict>
		<key>black</key>
		<string>#000000</string>
		<key>white</key>
		<string>#FFFFFF</string>
		<key>gray</key>
		<string>#C9C9C9</string>
		<key>whiteShadow</key>
		<string>#CBD3E4</string>
		<key>yellow</key>
		<string>#FF9E12</string>
		<key>blue</key>
		<string>#5A6C98</string>
		<key>bluedark</key>
		<string>#1C2E5D</string>
		<key>blueborder</key>
		<string>#25334F</string>
		<key>bluegray</key>
		<string>#A2B9CE</string>
	</dict>
	<key>view</key>
	<dict>
		<key>mask</key>
		<string>#FFFFFF</string>
		<key>highlight</key>
		<string>#2885FF</string>
		<key>bg</key>
		<string>#081432</string>
		<key>litebg</key>
		<string>#091941</string>
		<key>darkbg</key>
		<string>#050F29</string>
		<key>upcolor</key>
		<string>#15CF98</string>
		<key>downcolor</key>
		<string>#F15758</string>
		<key>seperator</key>
		<string>#E5E5E5</string>
		<key>border</key>
		<string>#314167</string>
	</dict>
	<key>white</key>
	<dict>
		<key>bg</key>
		<string>#FBFCFF</string>
		<key>darkbg</key>
		<string>#FBFBFB</string>
		<key>placeholder</key>
		<string>#4D5A77</string>
		<key>btntitle</key>
		<string>#85919D</string>
		<key>btnweakbg</key>
		<string>#DBE1EB</string>
		<key>titlecolor</key>
		<string>#333333</string>
		<key>seperator</key>
		<string>#ECEDEF</string>
		<key>border</key>
		<string>#B8D6FF</string>
		<key>litetitle</key>
		<string>#E3ECFF</string>
	</dict>
	<key>state</key>
	<dict>
		<key>success</key>
		<string>#80C269</string>
		<key>fail</key>
		<string>#EF5A61</string>
	</dict>
</dict>
</plist>
