<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>redpacket</key>
	<dict>
		<key>normalRed</key>
		<string>#EB3A54</string>
		<key>text</key>
		<string>#F3CA92</string>
	</dict>
	<key>textfield</key>
	<dict>
		<key>seperator</key>
		<string>#3F5372</string>
	</dict>
	<key>pagecontrol</key>
	<dict>
		<key>select</key>
		<string>#D8E1F0</string>
		<key>unselect</key>
		<string>#3F5372</string>
		<key>bannerSelect</key>
		<string>#D8E1F0</string>
		<key>bannerUnselect</key>
		<string>#6A7A97</string>
	</dict>
	<key>label</key>
	<dict>
		<key>share</key>
		<string>#E5D2AC</string>
		<key>colorLite</key>
		<string>#D8E1F0</string>
		<key>colorMedium</key>
		<string>#6A7A97</string>
		<key>colorDark</key>
		<string>#313E55</string>
		<key>colorHighlight</key>
		<string>#2489F1</string>
		<key>white</key>
		<string>#FFFFFF</string>
	</dict>
	<key>btn</key>
	<dict>
		<key>normal</key>
		<string>#D8E1F0</string>
		<key>disable</key>
		<string>#3F5372</string>
		<key>highlight</key>
		<string>#2489F1</string>
	</dict>
	<key>nav</key>
	<dict>
		<key>bg</key>
		<string>#0D1626</string>
	</dict>
	<key>tab</key>
	<dict>
		<key>bg</key>
		<string>#14233A</string>
		<key>icon</key>
		<string>#3F5372</string>
	</dict>
	<key>view</key>
	<dict>
		<key>mask</key>
		<string>#66000000</string>
		<key>highlight</key>
		<string>#2489F1</string>
		<key>highlight50</key>
		<string>#802489F1</string>
		<key>highlight25</key>
		<string>#402489F1</string>
		<key>highlight15</key>
		<string>#262489F1</string>
		<key>bg</key>
		<string>#121D30</string>
		<key>bgIcon</key>
		<string>#3F5372</string>
		<key>bgIcon50</key>
		<string>#803F5372</string>
		<key>bgIcon25</key>
		<string>#403F5372</string>
		<key>bgIconh</key>
		<string>#3F5372</string>
		<key>bgIconh50</key>
		<string>#803F5372</string>
		<key>bgGap</key>
		<string>#0D1D26</string>
		<key>bgTab</key>
		<string>#14233A</string>
		<key>seperator</key>
		<string>#0D1626</string>
		<key>border</key>
		<string>#3F5372</string>
		<key>bgCard</key>
		<string>#FFFFFF</string>
		<key>mySign</key>
		<string>#3F5372</string>
	</dict>
	<key>state</key>
	<dict>
		<key>normal</key>
		<string>#1F3F59</string>
		<key>normal80</key>
		<string>#CC1F3F59</string>
		<key>success</key>
		<string>#13B887</string>
		<key>success80</key>
		<string>#CC13B887</string>
		<key>fail</key>
		<string>#EB4D5C</string>
		<key>fail80</key>
		<string>#CCEB4D5C</string>
		<key>warning</key>
		<string>#F2A816</string>
		<key>warning80</key>
		<string>#CCEDBB7A</string>
	</dict>
	<key>kline</key>
	<dict>
		<key>up</key>
		<string>#13B887</string>
		<key>up15</key>
		<string>#2613B887</string>
		<key>down</key>
		<string>#EB4D5C</string>
		<key>down15</key>
		<string>#26EB4D5C</string>
		<key>yellow</key>
		<string>#F5CB89</string>
		<key>green</key>
		<string>#91F589</string>
		<key>purple</key>
		<string>#DD89F5</string>
		<key>pink</key>
		<string>#FDDACD</string>
		<key>tagbg</key>
		<string>#0D1626</string>
		<key>seperator</key>
		<string>#D8D8D8</string>
	</dict>
	<key>gdModule</key>
	<dict>
		<key>titleName</key>
		<string>#6A7A97</string>
		<key>excName</key>
		<string>#303C52</string>
		<key>blackOrWhite</key>
		<string>#D7DFEE</string>
		<key>cellbgView</key>
		<string>#0E1627</string>
		<key>cellbgView2</key>
		<string>#121D30</string>
		<key>linebgVIew</key>
		<string>#0E1627</string>
		<key>databgView</key>
		<string>#111C2F</string>
		<key>livename</key>
		<string>#838FA3</string>
		<key>linesView</key>
		<string>#080F1D</string>
		<key>titleNames</key>
		<string>#6A7A97</string>
		<key>viewbgs</key>
		<string>#0F1D32</string>
		<key>btnviewbg</key>
		<string>#0E1627</string>
		<key>textWhine</key>
		<string>#D7DFEE</string>
		<key>bglineexcel</key>
		<string>#202F43</string>
		<key>centenbg</key>
		<string>#121D30</string>
		<key>towtext</key>
		<string>#303C52</string>
		<key>placehold</key>
		<string>#838FA3</string>
		<key>lineborderColor</key>
		<string>#202F43</string>
		<key>assettitle</key>
		<string>#6A7A97</string>
		<key>exchangBtnbg</key>
		<string>#273B59</string>
	</dict>
</dict>
</plist>
