<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885659143931-cpq8e39keaib5f94i7bbrd43rhqa84as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885659143931-cpq8e39keaib5f94i7bbrd43rhqa84as</string>
	<key>API_KEY</key>
	<string>AIzaSyD7qsO7tMIgXQOsFFswmqa4KVEYoXwFm7g</string>
	<key>GCM_SENDER_ID</key>
	<string>885659143931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chainup.exchange.BBKX</string>
	<key>PROJECT_ID</key>
	<string>bbkxcom</string>
	<key>STORAGE_BUCKET</key>
	<string>bbkxcom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:885659143931:ios:5bf84ccc7beea91a60aa5e</string>
	<key>DATABASE_URL</key>
	<string>https://bbkxcom.firebaseio.com</string>
</dict>
</plist>
